<div class="container">
  <h1>Formulario de Credito</h1>
  <form #creditoForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="text" class="form-control" id="name" required [(ngModel)]="model.nomeCliente" name="name" ng-maxlength="50"
        maxlength="50">
    </div>

    <div class="form-group">
      <label for="limite">Limite</label>
      <input type="text" class="form-control" id="limite" type="number" required [(ngModel)]="model.limite" name="limite">
    </div>
    <div class="form-group">
      <label for="risco">Risco</label>
      <select class="form-control" id="risco" required [(ngModel)]="model.riscoId" name="risco">>
    <option ng-selected="riscos[0].id" *ngFor="let risco of riscos" [value]="risco.id">{{risco.nome}}</option>
  </select>
    </div>
    <button type="submit" [disabled]="!creditoForm.form.valid" class="btn btn-success">Salvar</button>

  </form>
</div>